# Data Types and Structures Questions

#  1. What are data structures, and why are they important?

# Ans>>
A data structure is a way of organizing, storing, and managing data so that it can be accessed and modified efficiently. It provides a systematic way to handle data, making operations like searching, sorting, inserting, and deleting more efficient.
They  are important bcoz:-
* Improve Efficiency – They optimize data operations like searching and sorting.
* Enhance Performance – Efficient data structures reduce time and memory usages.
* Help in Problem Solving – Many algorithms rely on data structures for efficient execution.
* Enable Scalability – They help in managing large-scale applications smoothly.

# 2. Explain the difference between mutable and immutable data types with examples:-

# Ans-
In Python, data types are classified as mutable and immutable based on whether their values can be changed after creation.
* Mutable Data Types (Can be Changed)
    These data types allow modification without changing their memory reference.
    Can be changed after creation.
    Supports in-place modification
    Can be changed in place (e.g., list, dict, set).
* Immutable Data Types (Cannot be Changed)
    Once created, their values cannot be modified. If you try to modify them, a new object is created.
    Cannot be changed, new object is created (e.g., str, tuple, int)

In [1]:
# for example of Mutable
my_list = [1, 2, 3]
print(id(my_list))

my_list.append(4)
print(my_list)
print(id(my_list))


# Immutable example
my_string = "Hello"
print(id(my_string))

my_string += " World"
print(my_string)
print(id(my_string))

139988958662848
[1, 2, 3, 4]
139988958662848
139988958664944
Hello World
139988958659120

# 3. What are the main differences between lists and tuples in Python?

# Ans-
Both lists and tuples are used to store collections of items in Python, but they have some important differences:
* lists:-
    Mutable, meaning you can modify, add, or remove elements.
    Uses square brackets [ ].
    Slightly slower as they are mutable and require more memory management.
    Uses more memory as it allows dynamic resizing.
    We use Lists when we need to modify, add, or remove elements frequently.
*  tuples:-
     Immutable, meaning once created, its elements cannot be changed.
     Faster than lists because they are immutable, allowing Python to optimize them.
     Uses less memory as it has fixed size.
     we use Tuples when we need a constant set of values that should not change (e.g., coordinates, database records).

# 4. Describe how dictionaries store data

# Ans-
Python dictionaries (dict) store data as key-value pairs using a hash table. Each key is hashed to generate a unique index, where the corresponding value is stored.
* Key Concepts:
 Hashing: The hash() function computes a unique number for each key.
 Buckets: The dictionary maintains an internal array where key-value pairs are stored.
 Collision Handling: If two keys produce the same hash, Python resolves it using techniques like chaining or probing.
 Fast Access: Lookups, insertions, and deletions take O(1) time on average.

# 5. Why might you use a set instead of a list in Python?

# Ans-
A set is faster and ensures unique elements, while a list maintains order and allows duplicates.
Key Advantages of Sets Over Lists:
* No Duplicates – Automatically removes duplicate values.
* Faster Lookups (O(1)) – Uses a hash table, whereas lists require O(n) time.
* Efficient Set Operations – Supports quick union (|), intersection (&), and difference (-).
* Memory Efficient – Stores only unique elements, reducing space usage.

# 6. What is a string in Python, and how is it different from a list?

# Ans-
A string in Python is a sequence of characters enclosed in single ('), double ("), or triple (''' or """) quotes. Strings are immutable, meaning they cannot be changed after creation.
It is different from a list:-
* Immutable (cannot be changed)
* Only characters
* Cannot change a character directly
* Can be iterated character by character
* Done using + (creates a new string)

# 7. How do tuples ensure data integrity in Python?

# Ans-
A tuple in Python is an immutable sequence, meaning its elements cannot be modified, added, or removed after creation. This immutability ensures data integrity in several ways:-
* Immutable – Tuples cannot be modified, preventing accidental changes.
* Thread-Safe – Safe for multi-threading since data remains consistent.
* Reliable Dictionary Keys – Can be used as keys in dictionaries because they don’t change

# 8. What is a hash table, and how does it relate to dictionaries in Python?

# Ans-
A hash table is a data structure that stores key-value pairs using a hashing function to map keys to unique memory locations (buckets). It enables fast lookups, insertions, and deletions (O(1) on average).
It is related to dictionaries in python through,
Python’s dictionary (dict) is implemented using a hash table internally. When you store a key-value pair in a dictionary:
The key is passed through a hash function, which generates a unique index.
The value is stored at that index in memory.
When you access the value using the key, Python quickly retrieves it using the same hash function.
Because of this, dictionaries in Python provide fast lookups, insertions, and deletions, making them a powerful and efficient data structure for managing key-value mappings.

# 9. Can lists contain different data types in Python?

# Ans-
Yes in Python , lists can contain different data types. Python lists are heterogeneous, meaning they can store elements of various types, such as integers, floats, strings, booleans, other lists, and even objects.

# 10. Explain why strings are immutable in Python?

# Ans-
In Python, strings are immutable, meaning once a string is created, it cannot be changed. Any operation that modifies a string actually creates a new string object rather than altering the original one.
Reasons for String Immutability are
* Memory Efficiency
* Security & Hashing
* Thread Safety
* Simplifies Debugging

# 11. What advantages do dictionaries offer over lists for certain tasks?

# Ans-
Dictionaries offer several advantages over lists for certain tasks, mainly due to their key-value pair structure and efficient lookups.
and here are some advantage of dictionaries over lists:-
* Faster Lookups (O(1) Time Complexity)
* Meaningful Data Access
* No Need for Sequential Storage
* Eliminates Duplicates Using Unique Keys

# 12. Describe a scenario where using a tuple would be preferable over a list?

# Ans-
A tuple is preferable over a list when you need to store fixed, unchangeable data that should not be modified accidentally.
and here is a scenario where a tuple would be preferable over a list:-
Imagine we  are developing a map application, and we need to store latitude and longitude for a specific location. Since these values should not change, a tuple is a better choice than a list.and there is lots of scenario where we  use tuple over lists.

# 13.  How do sets handle duplicate values in Python?

# Ans-
A set is an unordered collection of unique elements, meaning that even if you try to add duplicate values, only one instance of each unique value is stored.It automatically remove duplicate values when elements are added.

# 14.  How does the “in” keyword work differently for lists and dictionaries?

# Ans-
The 'in' keyword is used to check membership in both lists and dictionaries, but it works differently for each others:
* In lists:-
  Python iterates through the list element by element until it finds a match.
  This results in O(n) time complexity in the worst case.
  Yes, directly check the element
* In dictionaries:-
   it  checks only keys, not values.
  Dictionary lookups use a hash table, which provides an average O(1) time complexity for key lookups.
  Use .values() for checking the element.

# 15. Can you modify the elements of a tuple? Explain why or why not

# Ans-
Yes  tuples are immutable, we cannot modify them directly, but we can convert them into a list, make changes, and then convert them back into a tuple.

# 16.  What is a nested dictionary, and give an example of its use case?

# Ans-
A nested dictionary is a dictionary inside another dictionary. It allows hierarchical storage of data, making it useful for structured data representation like databases, JSON, or real-world objects.

In [3]:
# for example of nested dictionary
students = {
    "101": {"name": "Anurag", "age": 19, "grades": {"math": 85, "science": 90}},
    "102": {"name": "Vikram", "age": 18, "grades": {"math": 78, "science": 88}},
}

# Accessing Nested Data
print(students["101"]["name"])
print(students["102"]["grades"]["math"])
print(students["101"]["grades"]["science"])

Anurag
78
90

# 17.  Describe the time complexity of accessing elements in a dictionary?

# Ans-
Accessing elements in a dictionary is very fast due to its underlying hash table implementation and making them ideal for key-value mappings.
it has Average Case: O(1) (Constant Time) and Worst Case: O(n) (Linear Time)
In most cases, accessing elements in a dictionary is O(1) (very fast) and only in rare cases (hash collisions) can it degrade to O(n)

# 18. In what situations are lists preferred over dictionaries?

# Ans-
Even though dictionaries are powerful, lists are preferred in certain situations where their simplicity and ordering are beneficial
so the situations are-
* When Order Matters - Lists maintain strict order
* When Indexed Access is Needed – Lists allow fast (O(1)) access by index, unlike dictionaries which require key lookups.
* Memory Efficiency - Lists use less memory since they store only values, whereas dictionaries store key-value pairs.
* orting & Slicing - Lists support built-in sorting and slicing, making them ideal for ordered data manipulation.

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

# Ans-
Before 3.7+ Dictionaries were unordered, meaning key-value pairs could appear in any order,after that Dictionaries maintain insertion order, but they still lack index-based access like lists.
How Does This Affect Data Retrieval:-
* No Index-Based Access -You must use keys, not positions, to retrieve values.
* Fast Lookups (O(1)) - Uses hashing, making retrieval much faster than lists (O(n)).
* Maintains Order (Python 3.7+) - Iteration follows insertion order but still doesn’t allow indexing.

# 20.  Explain the difference between a list and a dictionary in terms of data retrieval.

# Ans-
* A lists-
  ~  It is index-based (list[i]).
  ~ It have O(n) (slower) – needs to search through elements.
  ~ Maintains strict insertion order.
  ~  No key-value mapping.
  ~ Best for sequential data.
* A dictionary-
  ~ It is key-based (dict[key]).
  ~ It have O(1) (faster) – uses hashing for quick lookups.
  ~ its maintains insertion order (Python 3.7+), unordered before.
  ~ It have key-value mapping .
  ~ Best for fast lookups & mappings

# Practical Questions

# 1. Write a code to create a string with your name and print it.

In [6]:
# Ans-
my_name=("Anurag Shergill")
print(my_name)

Anurag Shergill

# 2. Write a code to find the length of the string "Hello World".

In [8]:
str = "Hello World"
print(len(str))

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [10]:
str = "Python Programming"
print(str[0:3])

Pyt

# 4. Write a code to convert the string "hello" to uppercase.

In [11]:
String ="hello"
print(String.upper())

HELLO

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [12]:
Str ="I like apple"
New_code=Str.replace("apple","orange")
print(New_code)

I like orange

# 6.  Write a code to create a list with numbers 1 to 5 and print it?

In [13]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [14]:
list = [1,2,3,4]
list.append(10) # append means add new no. in the list
print(list)

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [15]:
List_no = [1,2,3,4,5]
List_no.remove(3)
print(List_no)

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [16]:
List = ['a','b','c','d']
print(List[1])

b

# 10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [17]:
List = [10,20,30,40,50]
reverse_List = List[::-1]
print(reverse_List)

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [18]:
L = (100,200,300)
print(L)

(100, 200, 300)

# 12. . Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [19]:
L = ('red','green','blue','yellow')
second_last =L[-2]
print(second_last)

blue

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [20]:
numbers = (10,20,5,15)
min_number = min(numbers)
print("Minimum number:", min_number)

Minimum number: 5

# 14. . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [21]:
Animals = ('dog','cat','rabbit')
index_of_cat = Animals.index('cat')
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

# 15 .  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [22]:
Fruits = ('mango','banana','kiwi')
if 'kiwi' in Fruits:
    print("kiwi is in it")
else:
    print("kiwi isn't in it")

kiwi is in it

# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [24]:
Elements = {'a','b','c'}
print(Elements) # sets mai order fix nhi hota

{'b', 'a', 'c'}

# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [25]:
elements = {1,2,3,4,5}
elements.clear()
print(elements)

set()

# 18 . Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [26]:
Elements = {1,2,3,4}
Elements.remove(4)
print(Elements)

{1, 2, 3}

# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [28]:
A = {1,2,3}
B = {3,4,5}
union = A.union(B)
print("union:", union)

union: {1, 2, 3, 4, 5}

# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [29]:
set = {1,2,3}
set1 = {2,3,4}
intersection_sets = set.intersection(set1)
print(intersection_sets )

{2, 3}

# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [30]:
person = {
    "name": "Anurag",
    "age": 19,
    "city": "Patna"
}
print(person)

{'name': 'Anurag', 'age': 19, 'city': 'Patna'}

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [31]:
person = {
    "name": "John",
    "age": 25,
}
person["country"]= "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [32]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Name:", name_value)

Name: Alice

# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [33]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [34]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("'city' key exists in the dictionary")
else:
    print("'city' key does not exist in the dictionary")

'city' key exists in the dictionary

# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [35]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [36]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted Random Numbers:", random_numbers)

Sorted Random Numbers: [6, 10, 12, 63, 97]

# 28.  Write a code to create a list with strings and print the element at the third index.

In [37]:
fruits = ["Apple", "Banana", "Cherry", "Mango", "Orange"]
print("Element at index 3:", fruits[3])

Element at index 3: Mango

# 29.  Write a code to combine two dictionaries into one and print the result.

In [38]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print("Merged Dictionary:", dict1)

Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

# 30. Write a code to convert a list of strings into a set.

In [58]:
my_list = [1,12,50]
my_set = set(my_list)
print(my_set)

TypeError: 'set' object is not callable